%div.container.pt-4
	.row.justify-content-center.pt-3
		%div.col-lg-6.col-md-8.pt-4
			.col-12
				=form_for(:session, url: login_path) do |f|
					.col.pt-2.input-group
						%span.input-group-addon#snabela
							@
						= f.email_field :email , :class => 'form-control', :placeholder => "Brukernavn", "aria-label" => "Brukernavn", "aria-describedby" => "snabela"
					.col.pt-2.input-group
						%span.input-group-addon#astrix
							%i.fa.fa-key{"aria-hidden" => "true"}
						= f.password_field :password, :class => 'form-control', :placeholder => "Passord", "aria-label" => "Passord", "aria-describedby" => "astrix"
					.col.pt-2
						= f.label :remember_me, class: 'checkbox inline' do
							=f.check_box :remember_me
							%span
								Husk meg på denne maskinen
					.col.pt-2
						= f.submit 'Logg inn', class: 'btn btn-outline-secondary form-control'