%nav.bg-light
	.row.justify-content-between
		.col-6.text-left
			%h6
				Internasjonalen
			%ul
				%li
					= link_to omointernasjonalen_path do
						Om oss
				%li
					= link_to root_path do
						Utleie
		.col-6.text-left
			%h6
				Meny
			%ul
				- @categories.each do |c|
					%li
						= link_to c.title, meny_path(c.slug)
							
