.row
	.col-12
		%h5
			Følg oss på sosiale medier:
.row.justify-content-center.somefooter
	.col-2.m-4
		%a{:href => "#"}
			%i.fa.fa-facebook{"aria-hidden" => "true"}
	.col-2.m-4
		%a{:href => "#"}
			%i.fa.fa-twitter{"aria-hidden" => "true"}
	.col-2.m-4
		%a{:href => "#"}
			%i.fa.fa-instagram{"aria-hidden" => "true"}