%section.container.mt-4.mb-4
	%article.row.justify-content-center.mb-4		
		.col-10
			%h2.pb-4.pt-4
				= @about.title
			%p.lead.pb-3
				= @about.ingress
			%p
				= @about.body.html_safe
	.nav.row.justify-content-center{:role => "navigation"}
		.col-10
			= link_to :back do
				%i.fa.fa-reply{"aria-hidden" => "true"}
				Tilbake

