-provide(:description, "Tekniske spesifikasjoner på hva som befinner seg av lyd og AV utstyr hos Internajsonalen")
-provide(:title, "Tekniske Pesifikasjoner")
-provide(:canonical, "/tekniskespsifikasjoner")
%section.container.mt-4.mb-4
	%article
		.row.mb-4		
			.col-12.col-lg-5
				%h2.pb-4.pt-4
					Tekniske spesifikasjoner
		- @tekniskcategories.each do |t|
			.row.mt-3.mb-3.pb-3
				.col-12.col-lg-5
					%h3
						= t.title
					%ul.list-group.list-group-flush
						- t.tekniskitems.each do |i|
							%li.list-group-item
								= i.antall
								x
								= i.title
		- if @tekniskperson
			= render partial: 'partials/kontakt_person', locals: { person: @tekniskperson, titel: "Teknisk kontaktperson"}