@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$opensans: 'Open Sans', sans-serif;


body{
	font-family: $opensans;
}


h5 {
	font-weight: 800;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: thin solid #ccc;
}

h6 {
	font-size: 1.2rem;
	font-weight: bolder;
}

iframe body{
	font-family: $opensans;
}

footer{
	font-size: 0.7rem;
}

.somefooter{
	font-size: 2.4rem;
	a:link, a:visited{
		color: #555;
	}
}

@media(max-width: 920){
	h1{
		font-size: 1.2rem !important;
	}
}

@media(min-width: 921){
	h1{
		font-size: 4rem;
	}
}