/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

$custom-file-text: (
  placeholder: (
    en: "Choose file...",
    no: "Velg bilde..."
  ),
  button-label: (
    en: "Browse",
    no: "Finn fil"
  )
);

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'partials/typografi';
@import 'partials/mainmenu';

$gray-medium-light: #eaeaea;

.st0 {
  fill:#fff;
  }
.st1 {
  fill:#00ff00;
  stroke:#FFFFFF;
  stroke-width:0.1106;
}


body{
  font-size: 16px;
  line-height: 1.5em;
  background-image: url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img{
  width: 100%;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.maincontainer{
  height: 80vh;
}



/* Menu styling*/

nav{
  background-color: white;
}

#mobilemenu{
  display: none;
}

/* Form styling */

input.apningstider {
  border: none;
  border-radius: 2px;
  padding-left: 5px;
  text-align: center;
}

textarea{
  height: 25vh;
}

/*  Miscellaneous */

.bottom-seperator{
  border-bottom: 1px solid #8c8b8b;
  padding-bottom: 10px;
}

.bottom-seperator:first-child{
  border-top: 1px solid #8c8b8b;
  padding-top: 10px;
}

.debaug_dump{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}
* {
  margin: 0;
  padding: 0; 
}


* {
  margin: 0;
  padding: 0; 
}

/* Lenker */
a:hover{
  text-decoration: none;
}

/* Hamburger barer */

#nav-icon2{
  width: 60px;
  height: 45px;
  position: relative;
  margin-top: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #555;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
